*{
    scroll-behavior: smooth;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.clear{
    clear:both;
}
.button{
    border-radius: 1%;
    color: white;
    background-color: #a0c93f;
    transition: color 1.5s ease;
    transition: background-color 1.5s ease;
}
.button:hover{
    color: white;
    background-color: #c9543f;
}
.cards-p{
    width: 475px;
    height: 141px;
    line-height: 1;
}
.body-c{
    padding:0;
}

.green{
    color: #a0c93f;
}
.section{
    border-bottom: 3px dashed rgb(193, 193, 193);
}
/* main */
.section2{
    padding: 25px
}
.section2 .icon{
    font-size: 45px;
}
.bubble{
    display:flex;
    justify-content: center;
    margin:0 auto;
    padding-top: 10px;
    width:95px;
    height: 95px;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 50%;
}
.but-ton{
    padding-top: 13px;
    text-align: center;
    width: 75px;
    height:75px;
    border-radius: 50%;
}
/* header */
header{
    padding: 15px 0;
}
.logo{
    font-size: 35px;
}
.logo-sub{
    font-size: 25px;
    line-height: 0;
    padding-bottom: 25px;
}
.top-nav{
    line-height: 6;
}
.top-nav-i{
    font-weight: 700;
    color:black;
    transition:color 1.5s ease;
    padding: 0 3px;
}
.top-nav-i:hover{
    color: #683fc9;
}
.main-header{
    background: #a0c93f;
}
.main-h-text{
    color:white;
    font-size: 30px;
    padding-top: 45px;
}
/* endheader */

/* main */
.section2{
    margin: 15px 0;
}
.section3{
    padding:25px 0;
}
.recent{
    top: 742px;
    background: white;
}
.image-r{
    padding: 15px 0;
}
.back-top{
    position: relative;
    color:white;
    background-color:#a0c93f;
    font-size: 10px;
    width:25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}
.icon-arrow-up{
    position:absolute;
    left:7px;
}
.section3{
    margin:15px 0;
}
.section4{
    margin:15px 0;
    padding: 15px 0;
}
.ads{
    
    background-color:white;
    bottom: 190px;
    left: 35px;
}

/* end main */

/* footer */
.date{
    line-height: 1.5;
    border-bottom: 1px dashed rgb(193, 193, 193);
}
.contacts-head{
    text-align:left;
    padding:0;
}
.contacts{
    display:flex;
    line-height: 1;
    padding: 15px 0;
}
.submit-button{
    color: white;
    background-color: #a0c93f;
    float:right;
    margin-right: 28px;
}

.about-link{
    color:rgb(193, 193, 193);
    transition:color 1.5s ease;
}
.about-link:hover{
    color:#683fc9;
}
.c-icon{
    color:rgb(193, 193, 193);
}
.form-text{
    border:none;
    border-bottom:2px solid rgb(193, 193, 193);
    background-color:whitesmoke;

    border-radius: 1%;
    margin: 5px 0;
}
.form-text::placeholder{
    color: black;
}
.colophon{
    background-color: #202020;
    color:white;
}
/* endfooter */

/* media quiries */ 
@media(max-width: 768px){
    .logo-img{
        padding-top: 15px;
    }
    .top-header{
        margin-bottom: 0;
    }
    .logo{
        font-size: 25px;
    }
    .logo-sub{
        font-size: 15px;
    }
    .top-nav{
        line-height: 4;
    }
    .recent{
        top:1213px;
    }
    .ads{
        bottom:155px;
    }
    .submit-button{
        margin-right: 0;
    }
    .bub-text{
        font-size:45px;
    }
}
@media(max-width: 576px){
    .top-header{
        font-size:small;
    }
    .top-nav-i{
        font-size:x-small;
        font-weight: 200;
    }
    .main-header{
        display:none;
    }
    .section1, .section2, .section4{
        border-bottom: 3px dashed rgb(193, 193, 193);
    }
    .recent{
        display:none;
    }
    .section3{
        display:none;
    }
    .ads{
        font-size: 20px;
        bottom: 135px;
    }
    .bubble{
        width:65px;
        height:65px;
    }
    .but-ton{
        position:relative;
        width:45px;
        height:45px;
    }
    .but-ton .icon{
        position:absolute;
        font-size: 25px;
        top:8.5px;
        right:8.5px;
    }
    .bub-text{
        font-size: 25px;
        font-weight: 400;
    }
    .footer-sub{
        font-size:15px;
    }
    footer p{
        font-size:12px;
    }
    .archives{
        display:none;
    }
    .submit-button{
        font-size: 10px;
    }
    .about-link{
        font-size: 10px;
    }
}